.notepad {
}

.note {
  text-align: center;
  padding: 1rem;
  border-style: solid;
  background-color: rgb(223, 221, 221);
  border-radius: 1%;
  border-color: rgb(255, 255, 255);
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.title {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 40px;
  opacity: 0.8;
  background-color: rgb(52, 48, 48);
  color: bisque;
}
.buttom {
  margin: 1rem;
}

h5:hover {
  cursor: pointer;
}
